@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.no-padding {
	padding: 0 !important;
}
img.common {
    border: 6px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
span.field-validation-error {
    color: red;
}
@media screen and (max-width: 930px) {
	#primary_nav_wrap ul ul li {
		width: 100%;
	}
	#test-logo {
		width: 60px;
		height: 75px;
		background-size: cover;
		background-position: 0 29px;
		display: inline-block !important;
		margin: 20px 0 20px 20px;
	}
	#primary_nav_wrap {
		margin-bottom: 30px;
	}
	#primary_nav_wrap ul ul {
		left: 0;
		right: 0;
	}
	.brandImage {
		padding-top: 220px !important;
	}
}
@media screen and (max-width: 820px) {
	#test-logo {
		display: none !important;
	}
}
@media screen and (min-width: 760px) {
	.topSpacer {
		height: 220px !important;
	}
}
@media screen and (max-height: 900px) {
	.all-the-header {
		position: absolute !important;
	}
}

