@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="footer gradient">
                    

		<div class="footerWrapper">
		<p><a id="ctl00_ctlFooter_lnkPhone" href="tel:1-800-782-8581">1-800-782-8581</a></p>
                
            <ul class="footerNavigation">
                <li>
                    <span id="ctl00_ctlFooter_rptAboutClinicLinks_ctl00_lnkAboutClinic">About The Clinic</span>
                </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/about-us">About Marshfield Clinic</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/health-system/charitable-contributions">Charitable contributions</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/contact-us">Contact Us</a>
            </li>
        
            <li>
                <a href="http://www.marshfieldclinic.org/careers">Employment</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/corporate/patient-rights">Patient Rights</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/corporate/privacy-policy">Privacy</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/about-us/quality">Quality of Care</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/welcome-spanish">Bienvenido a Marshfield Clinic</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/welcome-hmong">Marshfield Clinic Zoo Siab Tos Txais Nej</a>
            </li>
        </ul>
                
            <ul class="healthSystemLeftColumn">
                <li>
                    <span id="ctl00_ctlFooter_rptClinicLinksLeftColumn_ctl00_lnkClinic">Our Health System</span>                </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/health-system">Marshfield Clinic Health System</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org">Marshfield Clinic</a>
            </li>
        
            <li>
                <a href="https://cco.marshfieldclinic.org/">Center for Community Outreach</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/education">Division of Education</a>
            </li>
        
            <li>
                <a href="http://www.marshfieldresearch.org/">Research Institute</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/applied-sciences">Applied Sciences</a>
            </li>
        </ul>
    
            <ul class="healthSystemRightColumn">
        
            <li>
                <a href="http://www3.marshfieldclinic.org/business/">Business Services</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/community-resources/family-health-center">Family Health Center</a>
            </li>
        
            <li>
                <a href="http://www.mcis.com/">Information Systems</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldfoodsafetyllc.com/">Marshfield Food Safety</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldlabs.org/">Marshfield Labs</a>
            </li>
        
            <li>
                <a href="https://www.securityhealth.org/">Security Health Plan</a>
            </li>
        </ul>    
    
            <ul class="healthSystemColumn">
                <li>
                    <span id="ctl00_ctlFooter_rptClinicLinksColumn_ctl00_lnkHealthSystemClinic">Our Health System</span>                </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/health-system">Marshfield Clinic Health System</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org">Marshfield Clinic</a>
            </li>
        
            <li>
                <a href="https://cco.marshfieldclinic.org/">Center for Community Outreach</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/education">Division of Education</a>
            </li>
        
            <li>
                <a href="http://www.marshfieldresearch.org/">Research Institute</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/applied-sciences">Applied Sciences</a>
            </li>
        
            <li>
                <a href="http://www3.marshfieldclinic.org/business/">Business Services</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldclinic.org/community-resources/family-health-center">Family Health Center</a>
            </li>
        
            <li>
                <a href="http://www.mcis.com/">Information Systems</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldfoodsafetyllc.com/">Marshfield Food Safety</a>
            </li>
        
            <li>
                <a href="https://www.marshfieldlabs.org/">Marshfield Labs</a>
            </li>
        
            <li>
                <a href="https://www.securityhealth.org/">Security Health Plan</a>
            </li>
        </ul>


		<ul class="socialMedia">	
			<li class="socialExplore">Explore With Us</li>
			<li>
			<a class="facebookIcon" href="http://facebook.com/marshfieldclinic"></a> 
			<a class="twitterIcon" href="http://twitter.com/mfldclinic"></a>
			<a class="linkedInIcon" href="http://www.linkedin.com/company/marshfield-clinic"></a> 
			<a class="youtubeIcon" href="http://youtube.com/marshfieldclinic"></a>
			</li>
		</ul>
		<div class="footerTag"></div>
		</div> 

                </div>