@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Page>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<h2>@Umbraco.Field("pageName")</h2>
@RenderBody()