@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Category>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


@{
	var selection = Umbraco.TypedContent(1103).Children()
						.Where(x => x.IsVisible());
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

