@using Examine;
@{
	Layout = "Master.cshtml";
}
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="container body-margin-location">
@if (!string.IsNullOrEmpty(Request.QueryString["query"]))    
{

<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <h2>Providers</h2>-->
<!--            @{-->
<!--                var query = ExamineManager.Instance.CreateSearchCriteria()-->
<!--                                .NodeTypeAlias("provider")-->
<!--                                .And()-->
<!--                                .Field("specialties", Request.QueryString["query"])-->
<!--                                .Compile();-->
<!--            }-->
<!--            <ul>-->
<!--            @foreach(var result in Umbraco.Search(query)){-->
<!--               <li> -->
<!--                <a href="@result.Url">@result.Name</a>-->
<!--               </li>-->
<!--            }-->
<!--             </ul>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <h2>Locations</h2>-->
            
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
           
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <ul>-->
           
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--}  -->

<!--</div>-->