@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Homepage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="body-margin container-fluid">

@Html.GetGridHtml(Model.Content, "homeGrid")
    
</div>