@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "category.cshtml";
}

<div class="body-margin-location container">
@{
        var page = CurrentPage;    
}

<h1>@page.navigationLabel</h1>
@page.Content
</div>